<div class="container pt-4 pb-5">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <div class="alert alert-warning alert-dismissible d-none d-lg-block" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= link_to "View My Profile", user_path(current_user.id) %> Check yourself, you look great!
      </div>
    </div>
    
    <div class="col-lg-6 col-md-9">
      <h3><strong>Edit Profile</strong></h3>

      <br>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'shared/devisemes' %>

        <div class="form-group">
          <%= f.text_field :fullname, :class => "validate", :placeholder => "Name", class: "form-control" %>
        </div>

        <br>

        <div class="form-group">
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <br>

        <div class="form-group">
          <%= f.text_field :title, :placeholder => "Title - e.g. Personal Trainer", class: "form-control" %>
        </div>

        <br>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :avatar %>
        </div>

        <br>

        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, rows: 5, cols: 25,  :placeholder => "Tell us what you do in 280 characters or less.", class: "form-control" %>
        </div>
        
        <br>

        <div class="form-group">
          <%= f.text_field :phone_number, :placeholder => "Phone number", class: "form-control" %>
        </div>

        <br>
        
        <label>For Trainers, Coaches, Instructors</label>
        
        <br><br>
        
        <div class="form-group">
          <%= f.text_field :certification, :placeholder => "Certification - e.g. NSCA Strength and Conditioning Specialist", class: "form-control" %>
        </div>

        <br>

        <div class="form-group">
          <%= f.text_field :certification_number, :placeholder => "Certification Number", class: "form-control" %>
        </div>

        <br>

        <div class="form-group">
          <%= f.text_field :insurance, :placeholder => "Insurance number", class: "form-control" %>
        </div>
        
        <br>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", :placeholder => "New Password (leave blank if you don't want to change it)", class: "form-control" %>
        </div>

        <br>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm new password", class: "form-control" %>
        </div>

        <br>

        <div class="actions">
          <%= f.submit "Save", :class => "btn btn-nav" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
