<div class="container pt-4 pb-5">
  <div class="row">
    <div class="col-lg-3">
      <div class="card card-profile mb-4">
        <div class="card-header" style="background-image: url(assets/img/iceland.jpg);"></div>
        <div class="card-body text-center">
          <% if !@user.avatar.blank? %>
            <%= image_tag @user.avatar.url, class: "card-profile-img" %>
          <% else %>
            <%= image_tag("missing.png", class: "card-profile-img")  %>
          <% end %>
          
          <h6 class="card-title">
            <h5><strong><%= @user.fullname %></strong></h5>
          </h6>

          <p class="mb-4"><%= @user.title %></p>
          
          <br>
          
          <p class="mb-4"><%= @user.description %></p>
          
          <% if current_user && current_user != @user %>
            <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post, class: "btn btn-default" %>
          <% end %>
        </div>
      </div>

      <div class="card d-md-block d-lg-block mb-4">
        <div class="card-body">
          <% if @user == current_user %>
          <h6 class="mb-3"><%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary" %></h6>
          <% end %>
          <ul class="list-unstyled list-spaced">
            <% if @user.confirmation_token %>
              <li>Email Address<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
              <hr>
            <% end %>
            <% if @user.provider %>
              <li>Facebook<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
              <hr>
            <% end %>
            <% if current_user.phone_verified %>
              <li>Phone Number<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
              <hr>
            <% else %>
            <% end %>
            <% if !@user.certification.blank? %>
              <li><span class="text-muted mr-3 text-center pull-left"></span>Certification: <%= @user.certification %></li>
              <hr>
            <% end %>
            
            <% if !@user.certification_number.blank? %>
              <li><span class="text-muted mr-3 pull-left"></span>Certification Number: <%= @user.certification_number %></li>
              <hr>
            <% end %>
            
            <% if !@user.insurance.blank? %>
              <li><span class="text-muted mr-3 pull-left"></span>Insurance Number: <%= @user.insurance %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card d-md-block d-lg-block mb-4">
        <div class="card-body">
          <div class="container">
            <label>Listings</label>
              (<%= @rooms.length %>)
                <div class="row">
                  <div class="row">
                    <br>
                    <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <br>
      <% if @guest_reviews.count > 0 %>
      <h4>Reviews From Guests (<%= @guest_reviews.count %>)</h4>
        <div class="row">
          <%= render "reviews/guest_list" %>
        </div>
      <% else %>
      <% end %>
      <br>
      
      <% if @host_reviews.count > 0 %>
        <h4>Reviews From Hosts (<%= @host_reviews.count %>)</h4>
        <div class="row">
          <%= render "reviews/host_list" %>
        </div>
      <% else %>
      <% end %>  
    </div>                                                                
  </div>
</div>

