<div class="container pt-4 pb-5">
  <div class="row">
    <div class="col-lg-3">
      <div class="card card-profile mb-4">
        <div class="card-header" style="background-image: url(assets/img/iceland.jpg);"></div>
        <div class="card-body text-center">
          <% if !@user.avatar.blank? %>
            <%= image_tag @user.avatar.url, class: "card-profile-img" %>
          <% else %>
            <%= image_tag("missing.png", class: "card-profile-img")  %>
          <% end %>

          <h6 class="card-title">
            <h5><strong><%= @user.fullname %></strong></h5>
          </h6>

          <p class="mb-4"><%= @user.title %></p>
          
          <br>
          
          <p class="mb-4"><%= @user.description %></p>
        </div>
      </div>

      <div class="card d-md-block d-lg-block mb-4">
        <div class="card-body">
          <% if @user == current_user %>
          <h6 class="mb-3"><%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary" %></h6>
          <% end %>
          <ul class="list-unstyled list-spaced">
            <% if @user.confirmation_token %>
              <li>Email Address<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
              <hr>
            <% end %>
            <% if @user.provider %>
              <li>Facebook<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
              <hr>
            <% end %>
            <li>Phone Number<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
            <hr>
            <% if !@user.certification.blank? %>
              <li><span class="text-muted mr-3 text-center pull-left"></span>Certification: <%= @user.certification %></li>
              <hr>
            <% end %>
            
            <% if !@user.certification_number.blank? %>
              <li><span class="text-muted mr-3 pull-left"></span>Certification Number: <%= @user.certification_number %></li>
              <hr>
            <% end %>
            
            <% if !@user.insurance.blank? %>
              <li><span class="text-muted mr-3 pull-left"></span>Insurance Number: <%= @user.insurance %></li>
            <% end %>
            
            <% if !@user.phone_number.blank? %>
              <hr>
              <li><span class="text-muted mr-3 pull-left"></span>Phone Number:<%= @user.phone_number %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card d-md-block d-lg-block mb-4">
        <div class="card-body">
          <div class="container">
            <label>Listings</label>
              (<%= @rooms.length %>)
                <div class="row">
                  <% @rooms.each do |room| %>
                    <div class="col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-heading preview">
                          <%= image_tag room.cover_photo(:medium) %>
                        </div>
                        <div class="panel-body">
                          <%= link_to room.listing_name, room %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
          </div>
        </div>
      </div>
      <% if @guest_reviews.count > 0 %>
      <h4>Reviews From Guests (<%= @guest_reviews.count %>)</h4>
        <div class="row">
          <%= render "reviews/guest_list" %>
        </div>
      <% else %>
      <% end %>
      <br/>
      
      <% if @host_reviews.count > 0 %>
        <h4>Reviews From Hosts (<%= @host_reviews.count %>)</h4>
        <div class="row">
          <%= render "reviews/host_list" %>
        </div>
      <% else %>
      <% end %>  
    </div>                     
    
    <div class="row">
      <div class="col-lg-3">
      <div class="alert alert-warning alert-dismissible d-none d-lg-block" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="alert-link"></span> You are awesome! Keep doing great things!
      </div>
    </div>
    </div>                                              
  </div>
</div>

