<div class="container content form">

  <h2>Reset password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.password_field :password, autofocus: true, autocomplete: "off", :placeholder => "New password", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm new password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Reset my password", :class => "btn btn-new" %>
    </div>
  <% end %>

</div>
