<div class="container content">
  <div class="row">
    <div class="col-md-3 col-lg-3">
        <div class="card d-md-block d-lg-block mb-4">
          <div class="card-body">
            <ul class="sidebar">
              <li class="sidebar-item"><%= link_to "Payment Method", payment_method_path, class: "sidebar-link" %></li>
              <li class="sidebar-item"><%= link_to "Payout Method", payout_method_path, class: "sidebar-link" %></li>
              <li class="sidebar-item"><%= link_to "Notification Settings", notification_settings_path, class: "sidebar-link active" %></li>
            </ul>
          </div>
        </div>
      </div>
    <div class="col-md-9">
      <div class="panel">
        <div class="container">
          <br>
          <label>Notification Settings</label>
          <div class="panel-body">
            <div class="container">
              <%= form_for :setting do |f| %>
                <div class="row form-group">
                  <div class="col-md-6 text-center">
                    <%= f.check_box :enable_email %> Email
                  </div>
                  <div class="col-md-6 text-center">
                    <%= f.check_box :enable_sms %> SMS
                  </div>
                </div>
                <div class="text-center">
                  <%= f.submit "Save Your Settings", class: "btn btn-new" %>
                </div>
                <br>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>