<div class="container pt-4 pb-5">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      <div class="card d-md-block d-lg-block mb-4">
        <div class="card-body">
          <div class="container">
            <ul class="sidebar">
              <li><%= link_to "Listings", rooms_path, class: "sidebar-link" %></li>
              <li class="sidebar-item"><%= link_to "Reservations", your_reservations_path, class: "sidebar-link active" %></li>
              <li class="sidebar-item"><%= link_to "Your Bookings", your_bookings_path, class: "sidebar-link" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card d-md-block d-lg-block mb-4">
        <div class="card-body">
          <div class="container">
            <label><h2>Reservations</h2></label>
              <% @rooms.each do |room| %>
              <% room.reservations.each do |reservation| %>
                  <div class="row">
                    <div class="col-md-3">
                      <%= reservation.start_date.strftime('%v') %> to
                      <%= reservation.end_date.strftime('%v') %>
                      <br>
                      <br>
                      <p><%= reservation.status %></p>
                      <div class="form-inline">
                        <% if reservation.Waiting? %>
                          <%= link_to approve_reservation_path(reservation), method: :post do %> <i class="fa fa-thumbs-up fa-lg text-babu"></i> <% end %> |
                          <%= link_to decline_reservation_path(reservation), method: :post do %> <i class="fa fa-thumbs-down fa-lg text-babu"></i> <% end %>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <%= link_to reservation.room.listing_name, room_path(reservation.room) %><br/><br/>
                      <span>
                        <% if !reservation.user.avatar.blank? %>
                          <%= image_tag(reservation.user(:thumb), class: "img-circle avatar-small") %>
                        <% else %>
                          <%= image_tag("missing.png", class: "img-circle avatar-small") %>
                        <% end %>
                        <%= link_to user_path(reservation.user) do %> 
                          <%= reservation.user.fullname %>
                        <% end %>
                      </span>
                    </div>
                    <div class="col-md-3 text-right">
                      <%= render partial: "reviews/host_form", locals: {reservation: reservation} if reservation.Approved? %>
                    </div>
                  </div>
                  <hr/>

              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


